@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Kendo Grid</h2>

<div id="gridAPI"></div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/modules/dummy.js"></script>
}