
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="body-content padding-top">
        <div class="container-fluid">
            <p class="title padding-bottom ">Manage SMS / <span class="red">Manage Send SMS</span></p>
            <ul id="messageList"></ul>
            <div class="container-fluid nogap">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 nogap">
                    <div class="margin-bottom" style="padding-left:-10px">
                        <input id="resetBtn" type="button" value="Reset" class="k-button bttn dark padding-right padding-left" />
                        <input id="saveBtn" type="button" value="Simpan" class="k-button bttn k-primary padding-right padding-left" />
                    </div>                    
                </div>
            </div>

            <div class="container-fluid nogap">               
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 nogap">
                        <div class="margin-bottom">
                            <p class="standart-font weight float-left gray">Jenis Scenario&#42;</p>
                        </div>                        
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 nogap margin-right-57">
                        <div class="margin-bottom">
                            @Html.DropDownList("scenarioType")
                         </div>
                    </div>                
             </div>

            <div class="container-fluid nogap">
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 nogap">
                    <div class="margin-bottom">
                        <p class="standart-font weight float-left gray">Nama Scenario&#42;</p>
                    </div>                    
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 nogap margin-right-57">
                    <div class="margin-bottom">
                        @Html.DropDownList("scenarioName")
                    </div>
                </div>
            </div>

            <div class="container-fluid nogap">
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 nogap">
                    <p class="standart-font weight float-left gray">Upload File&#42;</p>

                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 nogap margin-right-57">
                    <form class="margin-bottom">
                        <div class="k-content">
                            <input name="file" id="file" type="file" aria-label="files" accept=".xlsx" />
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="margin-left:50px;">
                    @*<input id="uploadBtn" type="button" value="Upload" class="k-button bttn k-primary padding-right padding-left" />*@
                    <input id="previewBtn" type="button" value="Preview" class="k-button bttn dark padding-right padding-left" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nogap margin-top">
                <div id="grid">
                </div>
            </div>
        </div>
    </div>
</div>
<input type="text" id="manageSMSIdtemp" style="display:none;" />

@section scripts {
    <script type="text/javascript" src="~/Scripts/modules/manageSendSms.js"></script>
}

