
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="body-content padding-top">
        <div class="container-fluid">
            <p class="title padding-bottom ">Manage SMS / <span class="red">Follow Up by SMS</span></p>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 nogap">
                @Html.ActionLink("Lihat Detail", "Details", "FollowUpBySms", new { scenarioCode = "0" }, new { @class = "detailBtn k-button bttn k-primary right margin-right padding-left padding-right" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nogap margin-top">
                <div id="grid">
                </div>
            </div>
        </div>
    </div>
</div>
<input type="text" id="SMSFollowupIDtemp" style="display:none;" />
@section scripts {
    <script type="text/javascript" src="~/Scripts/modules/followUpBySms.js"></script>
}

